.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 4rem;
    font-weight: 900;
}

.button {
    border: 4px solid transparent;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #393e46;
    cursor: pointer;
    transition: border-color 0.1s;
    color: #eeeeee;
}

.button:hover {
    border-color: #00adb5;
}
