.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 0.75rem;
    opacity: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.question {
    font-size: 2rem;
}

.answer_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.button {
    border: 4px solid transparent;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #393e46;
    cursor: pointer;
    transition: border-color 0.1s;
    color: #eeeeee;
}

.button:hover {
    border-color: #00adb5;
}
