.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 900;
}

.prize {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline double;
}

.score {
    color: #00adb5;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.button {
    border: 4px solid transparent;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #393e46;
    cursor: pointer;
    transition: border-color 0.1s;
    color: #eeeeee;
}

.button:hover {
    border-color: #00adb5;
}

.winner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.winner_title {
    font-size: 2rem;
    font-weight: bold;
    color: gold;
    animation:
        grow 5s ease-in-out infinite alternate,
        blink 1s step-start infinite;
    text-align: center;
}

.winner_prize {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eeeeee;
    animation: grow 5s ease-in-out infinite alternate;
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes blink {
    0%,
    100% {
        color: gold;
    }
    50% {
        color: #eeeeee;
    }
}
