.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button {
    border: 4px solid transparent;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #393e46;
    cursor: pointer;
    transition: border-color 0.1s;
    color: #eeeeee;
}

.button:not(:disabled):hover {
    border-color: #00adb5;
}
