.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.jokers {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
}

.sidebar {
    position: absolute;
    left: 5%;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
