body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "Fira Mono", monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #eeeeee;
    background-color: #222831;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}
